{% extends("main.html.twig") %}
{% block title %}List | Cart{% endblock %}
{% block body %}
    <h1>Items</h1>
    <div>
        <ul>
            {% for item in items %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}