<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cart{% endblock %}</title>
    {% block stylecheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>